@font-face { 
font-family: 'Domain';
font-weight: bold;
font-style: normal;
src:
    url('fonts/Domain/WebFonts/domaine-display-web-bold.woff') format('woff')
    ;
}

@font-face { 
font-family: 'Domain';
font-weight: normal;
font-style: italic;
src:
    url('fonts/Domain/WebFonts/domaine-display-web-medium-italic.woff') format('woff')
    ;
}

@font-face { 
font-family: 'Macan';
font-weight: normal;
font-style: normal;
src: url('fonts/Macan/Web/Macan-Regular.woff') format('woff');
}

@font-face { 
font-family: 'Macan';
font-weight: bold;
font-style: normal;
src: url('fonts/Macan/Web/Macan-Bold.woff') format('woff');
}

@font-face { 
font-family: 'Macan';
font-weight: normal;
font-style: italic;
src: url('fonts/Macan/Web/Macan-Regular-Italic.woff') format('woff');
}

